html.dark {
  @apply bg-neutral-950;
}
html,
body {
  @apply min-h-full w-full bg-gray font-sans antialiased dark:bg-black dark:text-white;
  -webkit-text-size-adjust: 100%;

  .link {
    @apply font-medium text-primary-400 transition-colors dark:text-primary-200;
    &:enabled,
    &:is(a) {
      &:not([aria-disabled="true"]) {
        @apply hover:text-primary-300;
      }
    }
  }

  .tippy-box {
    @apply rounded-lg text-sm;
    &[data-theme~="light"] {
      @apply bg-white bg-opacity-70 shadow backdrop-blur;

      &[data-placement^="top"] > .tippy-arrow:before {
        @apply -bottom-[8px] border-t-white/70;
      }
      &[data-placement^="bottom"] > .tippy-arrow:before {
        @apply -top-[7px] border-b-white/70;
      }
    }
  }
}